.post-form-btn-block {
    display: flex;
    justify-content: center;
}

.post-form-btn-block button {
    width: 120px;
    background-color: #ff6358;
    color: white;
    height: 50px;
    margin-top: 20px;
    border: none;
    text-align: center;
    border-radius: 4px;
    margin-right: 30px;
}